# Ignore Python compiled code (byte code) #
###################
*.pyc

# Ignore directories related with packaging #
###################
gate.egg-info/
dist/
build/

examples/cifar-10-batches-py
factory.aux
factory.log
factory.pdf
factory.tex
